/* Carrosel de experiencias */
.carousel {
  display: flex;
  flex-direction: column;
  border-style: double;
  border: 1px solid var(--highlight-color);
  margin: 20px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.carousel .cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  margin: 20px;
}

/* Personalizar a barra de rolagem no WebKit (Chrome, Safari) */
.carousel .cards {
  scrollbar-width: thin;
  /* Largura da barra de rolagem (thin, auto, etc.) */
}

.carousel .cards::-webkit-scrollbar,
.carousel .slides::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
}

.carousel .cards::-webkit-scrollbar-thumb,
.carousel .slides::-webkit-scrollbar-thumb{
  background-color: var(--highlight-color);
  /* Cor do polegar da barra de rolagem */
}

.carousel .cards::-webkit-scrollbar-track,
.carousel .slides::-webkit-scrollbar-track {
  background-color: var(--base-color);
  /* Cor da área de trilha da barra de rolagem */
}

.carousel .cards .card {
  width: 250px;
  height: 200px;
}

.carousel .cards .card:hover{
  background-color: var(--base-highlight-color);
}

.carousel .cards .card .svg {
  width: 200px;
  height: 200px;
}

.slides {
  display: flex;
  align-items: center;
  overflow: auto;
}

.slide {
  transform: translateX(0%);
  transition: transform 0.3s ease;
  padding: 20px;
}

.slide .title {
  font-size: 2rem;
  color: var(--text-color);
  word-wrap: break-word;
}

.slide .description {
  margin: 10px 0;
  font-size: 1.5rem;
  color: var(--subtext-color);
  word-wrap: break-word;
  width: calc(100% - 40px);
}

.slide .description span {
  font-weight: bold;
}

.slide .description li,
.slide .description ul {
  word-wrap: break-word;
}

/* Mostrar o slide selecionado */
input#slide1:checked~.slides #text1,
input#slide2:checked~.slides #text2,
input#slide3:checked~.slides #text3,
input#slide4:checked~.slides #text4,
input#slide5:checked~.slides #text5,
input#slide6:checked~.slides #text6,
input#slide7:checked~.slides #text7 {
  display: block;
}

/* Mostrar o slide selecionado */
input#slide1:checked~.cards #label1,
input#slide2:checked~.cards #label2,
input#slide3:checked~.cards #label3,
input#slide4:checked~.cards #label4,
input#slide5:checked~.cards #label5,
input#slide6:checked~.cards #label6,
input#slide7:checked~.cards #label7 {
  background-color: var(--highlight-color);
}

input[type="radio"]:checked~.slides .slide {
  display: none;
}

/* Ocultar o ícone do menu em telas maiores */
@media (min-width: 769px) {
  .cards {
    padding-left: 0;
    /* Adicione algum espaço à esquerda para evitar o corte do primeiro cartão */
    padding-right: 0;
  }

}