/* Estilização da seção */
#experience {
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Estilo de apresentação do nome */
.about .name {
  margin: 24px;
  font-size: 4rem;
}

/* Estilo de apresentação dos subtitulos */
.about .subtext {
  margin: 24px;
  color: var(--subtext-color);
  font-size: 2rem;
}