/* Estilização para seção */
#home {
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Links para midias sociais */
#home .social {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Configuração do SVG apresentado */
#home .social .svg {
  fill: var(--text-color);
  width: 4rem;
  margin: 20px 0px;
}

/* Altera a cor base do svg quando mouse posicionado em cima */
#home .social .svg:hover {
  fill: var(--highlight-color);
}

/* Configurações de exibição do avatar */
#home .avatar {
  margin: 24px 40px;
  display: flex;
  justify-content: center;
}

/* Define como será exibida a imagem */
#home .avatar img {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  background: var(--highlight-color);
}

/* Comportamento quando mouse estiver sobre a imagem */
#home .avatar img:hover{
  background-color: var(--base-highlight-color);
}