@import url(carrousel.css);

/* Mobile first - Padrões para o perfil mobile*/
#profile {
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Apresentacao */
.about .name {
  margin: 24px;
  font-size: 4rem;
}

.about .subtext {
  margin: 24px;
  color: var(--subtext-color);
  font-size: 2rem;
}