/* Estilização para seção */
#skills{
  background-color: var(--base-color);
  border-style: double;
  border: 1px solid var(--highlight-color);
  margin: 0px 20px;
}

/* Altera tamanho da fonte pra seção */
#skills p {
  font-size: 1.3rem;
}

/* Estiliza a div que contém os cards */
#skills .cards {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  overflow-x: auto;
  gap: 20px;
  margin: 20px;
}

/* Define tamanho e exibição de cada card na lista */
#skills .cards .card {
  width: 100px;
  height: 100px;
  min-height: 100px;
  min-width: 100px;
}

/* COmportamento quando mouse estiver sobre o card */
#skills .cards .card:hover{
  background-color: var(--highlight-color);
}

/* Define o tamanho do svg exibido */
#skills .cards .card .svg {
  width: 50px;
  height: 50px;
}

/* Personaliza a barra de rolagem no WebKit (Chrome, Safari) */
#skills .cards {
  scrollbar-width: thin;
}

/* Largura da barra de rolagem */
#skills .cards::-webkit-scrollbar {
  width: 10px;
}

#skills .cards::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
}

/* Cor da área do trilho da barra de rolagem */
#skills .cards::-webkit-scrollbar-track {
  background-color: var(--base-color);
}

#skills .title {
  font-size: 2rem;
  color: var(--text-color);
  word-wrap: break-word;
  margin: 20px;
}