html {
  font-size: 12px;
  scroll-behavior: smooth;
  user-select: none;
}

/* Define padrões para o corpo do html */
body {
  background-color: var(--base-color);
  font-family: Montserrat, Arial, sans-serif;
  margin: 0;
  padding-top: 70px;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
  cursor: pointer;
}

/* Cor do polegar da barra de rolagem */
body::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
  cursor: pointer;
}

/* Cor da área do trilho da barra de rolagem */
body::-webkit-scrollbar-track {
  background-color: var(--base-color);
  cursor: pointer;
}

/* Define borda arredondada para todas as sections */
section{
  border-radius: 5px;
}

/* Construção base dos cards */
.card {
  border-radius: 5px;
  background-color: var(--base-color);
  border: 1px solid var(--highlight-color);
  border-style: double;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Altera altura do p do card */
.card p {
  height: 30px;
}

/* Altera a cor dos svgs do card */
.card .svg {
  fill: var(--text-color);
  padding: 10px 0px;
}

/* Altera a cor stroke do svg */
.card .svg.stroke {
  stroke: var(--text-color);
}

/* Adiciona animação a seção selecionada realizando um blink */
.selected {
  animation: blink 2s none;
}
